body{
    margin: 0px;
    padding: 0px;
}
#mainContainer{
    width: 100%;
}
#container{
    /* border: 1px solid red; */
    display: flex;
    padding: 0px 55px 0px 55px;
}

*{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.09px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    color: #000;
}
h1{
    text-transform: uppercase;
}
#container{
    display: flex;
}
#box1,#box2,#box3{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    justify-content: space-between;
    margin: auto;
    width: 24%;
    /* text-align: center; */
}
#box4,#box5{
    width: 6.5%;
}
#box2{
    display: flex;
    justify-content: center;
    width: 34%;
}
#box3{
    padding-left: 24px;
}
#box3>div>div{
    width: 100%;
}
#box3>div{
    width: 100%;
}
#size{
    margin: 5px;
    display: block;
    width: 100%;
    height: 35px;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
    
}
#btn1,#btn2{
    margin: 15px 0px 0px 0px;
    display: inline;
    width: 50%;
    border: none;
    background-color: white;
    height: 35px;
    cursor: pointer;
}
#btn1{
    background-color: black;
    color: white;
    
}
img{
    width: 100%;
    height: 600px;
}
#logopng{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding-right: 5px;
}
#fitpredictor{
    display: flex;
    align-items: center;
    
}
p{
    padding-right: 5px;
}

@media all and (min-width:991px) and (max-width:1200px){
    #container{
        display: flex;
        flex-direction: column;
    }
    #box1,#box2,#box3{
        width: 100%;
    }
    #box1{
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
}


@media all and (min-width:575px) and (max-width:991px){
    #container{
        display: flex;
        flex-direction: column;
    }
    #box1,#box2,#box3{
        width: 100%;
    }
    #box1{
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
}


@media all and (min-width:0px) and (max-width:575px){
    #container{
        display: flex;
        flex-direction: column;
    }
    #box1,#box2,#box3{
        width: 100%;
    }
    #box1{
        margin-top: 25px;
        display: flex;
        justify-content: center;
    }
}