#container{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 80px;
}

.firstThird{
    width: 8%;
}

#storeProduct{
    width: 55%;
}

#storeProduct>div:first-child>p{
text-transform: uppercase;
font-family: 'Nanum Gothic', sans-serif;
font-size: 13px;
}

#storeProduct>div:first-child>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    border-bottom: 1px solid grey;
}

#storeProduct>div:first-child>div>p:first-child{
    margin-left: 120px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(158, 158, 158);
}

#storeProduct>div:first-child>div>p:last-child{
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    color: rgb(158, 158, 158);
}

#checkout{
    width: 29%;
}

#checkout>div>p:first-child{
    text-transform: uppercase;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 13px;
    margin-left: 30px;
}

#checkout>div>p:nth-child(2){
    margin-left: 30px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#checkout>div>p:nth-child(3){
    color: rgb(158, 158, 158);
    font-size: 12px;
    margin-left: 30px;
    margin-top: -8px;
    font-family: 'Open Sans', sans-serif;
}

#checkout>div>button{
    text-transform: uppercase;
    margin-left: 30px;
    width: 92%;
    padding: 13px 0px 13px 0px;
    border: none;
    background-color: black;
    color: white;
    font-size: 11px;
    margin-top: 13px;
    cursor: pointer;
}

#checkout>div>p>span{
    text-decoration: underline;
    cursor: pointer;
}

#pricePart>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
}
#pricePart>div:first-child>p{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#pricePart>div:nth-child(2)>p{
    margin-top: -7px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#pricePart>div:nth-child(3)>h5{
    margin-top: -3px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#appendItem>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    border-bottom: 1px solid grey;
}

#appendItem>div>div{
    height: 113px;
}

#appendItem>div>div:first-child{
    width: 70%;
    display: flex;
}

#appendItem>div>div:last-child{
    width: 30%;
}
#appendItem>div>div:first-child>img{
    width: 75px;
    height: 113px;
}

#appendItem>div>div:first-child>div{
    margin-left: 42px;
    width: 80%;
}

#appendItem>div>div:first-child>div>p{
    margin-top: 0px;

}
#appendItem>div>div:first-child>div>p:first-child{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}
#appendItem>div>div:first-child>div>p:nth-child(2){
    margin-top: -7px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#appendItem>div>div:first-child>div>p:nth-child(3){
    margin-top: -3px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

#appendItem>div>div:first-child>div>p:last-child{
    margin-top: 43px;
    font-size: 11px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    cursor: pointer;
}

#appendItem>div>div:last-child>p:first-child{
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    text-align: end;
    margin-top: 0px;
}

#appendItem>div>div:last-child>p:last-child{
    margin-top: 85px;
    font-size: 11px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    text-align: end;
    cursor: pointer;
}

/* Navbar CSS */
#navbar{
    width: 100%;
    height: 60px;
    display: flex;
    margin: auto;
    position: fixed;
    top: 0px;
    background-color: white;
    align-items: center;
}
#leftPage{
    width: 33%;
}
#leftPage>div:first-child{
    display: flex;
    justify-content:space-evenly;
    height: auto;
}
#leftPage>div:first-child>p{
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
#leftPage>div:first-child>p:hover{
    text-decoration: underline;
}
#navbar>div:nth-child(2){
    width: 6%;
}
#navbar>div:nth-child(4){
    width: 11%;
}
#navbar>div:nth-child(3){
    width: 20%;
    height: auto;
    text-align: center;
    cursor: pointer;
}
#navbar>div:nth-child(3)>img{
    width: 100px;
    height: 21px;
}
#rightPage{
    width: 30%;
}
#rightPage>div:first-child{
    display: flex;
    justify-content: space-evenly;
    height: auto;
}
#rightPage>div:first-child>p{
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
#rightPage>div:first-child>p:hover{
    text-decoration: underline;
}
#navbar>div>div>p>a{
    text-decoration: none;
    color: #000000;
}
#allProduct{
    display: none;
}
#cartLogo{
    display: none;
}

/* Media Query for medium screen */
@media screen and (min-width: 800px) and (max-width: 1024px) {

    #allProduct{
         text-align: center;
         display: flex;
         justify-content: space-around;
         padding: 0px 10px 0px 10px;
         height: 45px;
         margin-bottom: 10px;
     }
     #allProduct>div{
         border: 1px solid grey;
         width: 100%;
         border-radius: 13px;
         font-family: 'Open Sans', sans-serif;
     }
 
     /* product bar */
     .productbar {
         overflow: hidden;
     }
     .dropdown {
         float: left;
         overflow: hidden;
     }
       /* Dropdown button */
     .dropdown .dropbtn {
         border: none;
         outline: none;
         color: black;
         padding: 14px 16px;
         background-color: inherit;
         font-family: inherit;
         margin: 0; 
     }
     .dropdown-content{
         width: 95%;
         display: none;
         position: absolute;
         background-color: #f9f9f9;
         z-index: 1;
         font-size: 11px;
         font-family: 'Open Sans', sans-serif;
     }
     .dropdown-content>span:hover{
         cursor: pointer;
         text-decoration: underline;
     }
     /* Links inside the dropdown */
     .dropdown-content span {
         float: none;
         color: black;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
         text-align: left;
     }
       /* Show the dropdown menu on hover */
     .dropdown:hover .dropdown-content {
         display: block;
     }
 
     #cartLogo{
         text-align: center;
         display: flex;
         justify-content: space-evenly;
         margin-bottom: 10px;
     }
     #cartLogo>img{
         width: 20px;
         height: 20px;
         cursor: pointer;
     }
 
 
     #leftPage>div:first-child{
         display: none;
     }
     #navbar>div:nth-child(3){
         width: 100%;
         margin: auto;
     }
     #rightPage>div:first-child{
         display: none;
     }
}

/* Media Query for small screen */
@media screen and (min-width: 0px) and (max-width: 799px) {

    #allProduct{
         text-align: center;
         display: flex;
         justify-content: space-around;
         padding: 0px 10px 0px 10px;
         height: 45px;
         margin-bottom: 10px;
     }
     #allProduct>div{
         border: 1px solid grey;
         width: 100%;
         border-radius: 13px;
         font-family: 'Open Sans', sans-serif;
     }
 
     /* product bar */
     .productbar {
         overflow: hidden;
     }
     .dropdown {
         float: left;
         overflow: hidden;
     }
       /* Dropdown button */
     .dropdown .dropbtn {
         border: none;
         outline: none;
         color: black;
         padding: 14px 16px;
         background-color: inherit;
         font-family: inherit;
         margin: 0; 
     }
     .dropdown-content{
         width: 95%;
         display: none;
         position: absolute;
         background-color: #f9f9f9;
         z-index: 1;
         font-size: 11px;
         font-family: 'Open Sans', sans-serif;
     }
     .dropdown-content>span:hover{
         cursor: pointer;
         text-decoration: underline;
     }
     /* Links inside the dropdown */
     .dropdown-content span {
         float: none;
         color: black;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
         text-align: left;
     }
       /* Show the dropdown menu on hover */
     .dropdown:hover .dropdown-content {
         display: block;
     }
 
     #cartLogo{
         text-align: center;
         display: flex;
         justify-content: space-evenly;
         margin-bottom: 10px;
     }
     #cartLogo>img{
         width: 20px;
         height: 20px;
         cursor: pointer;
     }
 
 
     #leftPage>div:first-child{
         display: none;
     }
     #navbar>div:nth-child(3){
         width: 100%;
         margin: auto;
     }
     #rightPage>div:first-child{
         display: none;
     }

     #storeProduct{
        width: 100%;
     }
     #pricePart{
        width: 100%;
     }
     #container{
        width: 100%;
        flex-direction: column-reverse;
    }
    #checkout{
        width: 100%;
    }
}