#mainContainer{
    width: 100%;
    margin: auto;
    margin-top: 75px;
}
#aboutWish{
    width: 65%;
    margin: auto;
}
#aboutWish>p:first-child{
    font-size: 12px;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#aboutWish>p:last-child{
    margin-top: -10px;
    width: 62%;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 17px;
}
#container{
    margin: auto;
    width: 65%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}
#container>div>img{
    width: 100%;
    height: 300px;
}
#container>div>div{
    height: 110px;
}
#container>div>div>p{
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
}
#container>div>p:nth-child(3){
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
#container>div>p:last-child{
    text-align: center;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
/* Navbar CSS */
#navbar{
    width: 100%;
    height: 60px;
    display: flex;
    margin: auto;
    position: fixed;
    top: 0px;
    align-items: center;
}
#leftPage{
    width: 33%;
}
#leftPage>div:first-child{
    display: flex;
    justify-content:space-evenly;
    height: auto;
}
#leftPage>div:first-child>p{
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
#leftPage>div:first-child>p:hover{
    text-decoration: underline;
}
#navbar>div:nth-child(2){
    width: 6%;
}
#navbar>div:nth-child(4){
    width: 11%;
}
#navbar>div:nth-child(3){
    width: 20%;
    height: auto;
    text-align: center;
    cursor: pointer;
}
#navbar>div:nth-child(3)>img{
    width: 100px;
    height: 21px;
}
#rightPage{
    width: 30%;
}
#rightPage>div:first-child{
    display: flex;
    justify-content: space-evenly;
    height: auto;
}
#rightPage>div:first-child>p{
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}
#rightPage>div:first-child>p:hover{
    text-decoration: underline;
}
#navbar>div>div>p>a{
    text-decoration: none;
    color: #000000;
}
#allProduct{
    display: none;
}
#cartLogo{
    display: none;
}

/* Media Query for medium screen */
@media screen and (min-width: 800px) and (max-width: 1024px) {

    #allProduct{
         text-align: center;
         display: flex;
         justify-content: space-around;
         padding: 0px 10px 0px 10px;
         height: 45px;
         margin-bottom: 10px;
     }
     #allProduct>div{
         border: 1px solid grey;
         width: 100%;
         border-radius: 13px;
         font-family: 'Open Sans', sans-serif;
     }
 
     /* product bar */
     .productbar {
         overflow: hidden;
     }
     .dropdown {
         float: left;
         overflow: hidden;
     }
       /* Dropdown button */
     .dropdown .dropbtn {
         border: none;
         outline: none;
         color: black;
         padding: 14px 16px;
         background-color: inherit;
         font-family: inherit;
         margin: 0; 
     }
     .dropdown-content{
         width: 95%;
         display: none;
         position: absolute;
         background-color: #f9f9f9;
         z-index: 1;
         font-size: 11px;
         font-family: 'Open Sans', sans-serif;
     }
     .dropdown-content>span:hover{
         cursor: pointer;
         text-decoration: underline;
     }
     /* Links inside the dropdown */
     .dropdown-content span {
         float: none;
         color: black;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
         text-align: left;
     }
       /* Show the dropdown menu on hover */
     .dropdown:hover .dropdown-content {
         display: block;
     }
     #cartLogo{
         text-align: center;
         display: flex;
         justify-content: space-evenly;
         margin-bottom: 10px;
     }
     #cartLogo>img{
         width: 20px;
         height: 20px;
         cursor: pointer;
     }
     #leftPage>div:first-child{
         display: none;
     }
     #navbar>div:nth-child(3){
         width: 100%;
         margin: auto;
     }
     #rightPage>div:first-child{
         display: none;
     }
}

/* Media Query for small screen */
@media screen and (min-width: 0px) and (max-width: 799px) {

    #allProduct{
         text-align: center;
         display: flex;
         justify-content: space-around;
         padding: 0px 10px 0px 10px;
         height: 45px;
         margin-bottom: 10px;
     }
     #allProduct>div{
         border: 1px solid grey;
         width: 100%;
         border-radius: 13px;
         font-family: 'Open Sans', sans-serif;
     }
 
     /* product bar */
     .productbar {
         overflow: hidden;
     }
     .dropdown {
         float: left;
         overflow: hidden;
     }
       /* Dropdown button */
     .dropdown .dropbtn {
         border: none;
         outline: none;
         color: black;
         padding: 14px 16px;
         background-color: inherit;
         font-family: inherit;
         margin: 0; 
     }
     .dropdown-content{
         width: 95%;
         display: none;
         position: absolute;
         background-color: #f9f9f9;
         z-index: 1;
         font-size: 11px;
         font-family: 'Open Sans', sans-serif;
     }
     .dropdown-content>span:hover{
         cursor: pointer;
         text-decoration: underline;
     }
     /* Links inside the dropdown */
     .dropdown-content span {
         float: none;
         color: black;
         padding: 12px 16px;
         text-decoration: none;
         display: block;
         text-align: left;
     }
       /* Show the dropdown menu on hover */
     .dropdown:hover .dropdown-content {
         display: block;
     }
 
     #cartLogo{
         text-align: center;
         display: flex;
         justify-content: space-evenly;
         margin-bottom: 10px;
     }
     #cartLogo>img{
         width: 20px;
         height: 20px;
         cursor: pointer;
     }
 
 
     #leftPage>div:first-child{
         display: none;
     }
     #navbar>div:nth-child(3){
         width: 100%;
         margin: auto;
     }
     #rightPage>div:first-child{
         display: none;
     }
}

@media screen  and (min-width: 575px) and (max-width: 950px){
    #container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    #aboutWish{
        width: 100%;
    }
    #aboutWish>p:last-child{
        width: 100%;
    }
}

@media screen  and (min-width: 370px) and (max-width: 574px){
    #container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    #aboutWish{
        width: 100%;
    }
    #aboutWish>p:last-child{
        width: 100%;
    }
}

@media screen  and (min-width: 50px) and (max-width: 369px){
    #container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
    #aboutWish{
        width: 100%;
    }
    #aboutWish>p:last-child{
        width: 100%;
    }
}