body {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
    border: 1px solid transparent;
    width: 60%;
    margin: auto;
}

#shopping>div:last-child {
    border: 1px solid transparent;
    width: 90%
}

#shopping>div:last-child>div>p {
    margin-top: 10%
}

p,
span {
    margin-top: 2%;
    color: gray;
    font-family: sans-serif;
    font-size: 10px;
}

#shopping>div:last-child>div,
#cardDetails>div {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

#shopping,
#shipping,
#payment,
#cardDetails,
#bill {
    margin-top: 5%;
}
#bill{
    margin-bottom: 10%;
}