form{
    border: 1px solid transparent;
    width: 20%;
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
    color: black;
}
form>label{
    border: 1px solid transparent;
    margin-bottom: 50px;
}
input[type="number"]{
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom:10px
}
input[type="submit"]{
    font-family: sans-serif;
    width: 50%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-left: 20%;
}
input[type="submit"]:hover{
    background-color:blue;
    color: white;
    border: none;
    cursor:pointer;
}